.title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  margin: 20px;
}

.text {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 18px;
  line-height: 1.67;
  color: #686666;
  text-indent: 40px;
}

.noReviewsText {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin: 15px;
  color: #000;
}
