.link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  font-weight: 800;
  padding: 15px 0px;
  margin-left: 15px;
  color: #101111c9;
}

.activeLink {
  color: #d16ba5;
  text-shadow: 3px 0px 5px #69bff8;
  transition: 500ms ease;
}

.link:hover {
  color: #69bff8;
  text-shadow: 3px 0px 5px #d16ba5;
  transition: 500ms ease;
}
