.searchForm input {
  width: 400px;
  height: 30px;
  margin-bottom: 30px;
}

.searchForm button {
  height: 32px;
  width: 70px;
}
.searchForm :hover,
.searchForm :focus {
  color: #000;
  text-shadow: 3px 3px 10px #d16ba5;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
.title:hover {
  transform: scale(1.01);
  box-shadow: 12px 12px 10px #5ffbf1;
  border-radius: 5px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}
.link:hover {
  text-shadow: 3px 3px 10px #52cffe;
}
