.searchForm input {
  width: 400px;
  height: 40px;
  margin: 30px;
  border: 1px solid #d16ba5;
  border-radius: 10px;
  font-size: 20px;
  padding: 0px 15px;
}

.searchForm input::placeholder {
  font-family: fantasy, serif;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  letter-spacing: 0.02em;
}

.searchForm button {
  font-family: fantasy, serif;
  font-size: 20px;
  text-align: center;
  padding: 0px 10px;
  letter-spacing: 0.02em;
  height: 40px;
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #5ffbf1;
  opacity: 0.6;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.searchForm :hover,
.searchForm :focus {
  color: #000;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  opacity: 1;
  color: #d16ba5;
  border: 1px solid #d16ba5;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
.title:hover {
  transform: scale(1.01);
  box-shadow: 12px 12px 10px #5ffbf1;
  border-radius: 5px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}
.link:hover {
  text-shadow: 3px 3px 10px #52cffe;
}
