.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
.description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.FaReact {
  font-size: 45px;
  color: blue;
  margin-right: 10px;
}
